<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vehicle</title>
    </head>
    <body>
        <h1>X5e</h1>

        <main>
            <h1><%= vehicle.doorLockState %></h1>
            <h2><%= vehicle.chargingStatus %></h2>
            <h3><%= vehicle.updateTime %></h3>
        </main>
    </body>
</html>
